.App {
  text-align: center;
  color: #1c1e21;
  background-color: #139cf7;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  main {
    display: flex;
    overflow-x: scroll;
    /* flex-wrap: wrap;
    overflow: scroll; */
    /* height: 100%; */
  }
}
